/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    display: flex;
    height: 100%;
    flex-direction: column;
}

@font-face {
    font-family: "Inter var";
    src: url("./public/fonts/Inter.ttf");
}
